<script type="text/x-template" id="edition-image-template">
  <div id="additional-fields" data-tab>
    <!-- Imagem de capa -->
    <div class="field" id="cover-url-field">
      <label class="label">Imagem de capa</label>
      <div class="field has-addons mb-0">
        <div class="control is-expanded">
          <input
            class="input"
            type="text"
            name="cover-url"
            :value="bookCoverUrl"
            :class="{ 'is-danger': coverHasError }"
            :disabled="coverIsFetching"
            @change="updateCoverUrl"
          >
        </div>
        <div class="control">
          <button
            type="button"
            class="button"
            :disabled="coverIsFetching || hasCover"
            @click="handleFetchClick"
          >
            <span class="icon">
              <i class="fas fa-search"></i>
            </span>
            <span>Obter</span>
          </button>
        </div>
        <div class="control" v-if="showAmazonButton">
          <button
            type="button"
            class="button"
            :disabled="coverIsFetching || hasCover"
            @click="handleAmazonClick"
          >
            <span class="icon">
              <i class="fab fa-amazon"></i>
            </span>
            <span>Amazon</span>
          </button>
        </div>
      </div>
      <p class="help is-danger" v-if="coverHasError">
        {{ coverError }}
      </p>
    </div>
  </div>
</script>

<script id="edition-image-script">
  const EditionImage = {
    template: '#edition-image-template',
    name: 'EditionImage',
    computed: {
      showAmazonButton: function () {
        return this.useAmazonFallback && this.isbnType.includes('ISBN')
      },
      ...Vuex.mapState('book', ['isbnType']),
      ...Vuex.mapGetters('book', ['bookCoverUrl', 'hasCover']),
      ...Vuex.mapGetters('edition/cover', [
        'coverError',
        'coverHasError',
        'coverIsFetching'
      ]),
      ...Vuex.mapGetters('settings/properties', ['useAmazonFallback'])
    },
    methods: {
      handleAmazonClick: function () {
        if (!this.coverIsFetching) {
          this.fetchCover({ module: 'edition', forceAmazon: true })
        }
      },
      handleFetchClick: function () {
        if (!this.coverIsFetching) {
          this.fetchCover({ module: 'edition' })
        }
      },
      updateCoverUrl: function (e) {
        this.$store.commit('book/updateCoverUrl', e.target.value)
      },
      ...Vuex.mapActions('book', ['fetchCover'])
    }
  }
</script>
