<script type="text/x-template" id="creation-record-template">
  <div class="form-fields px-1 py-1">
    <!-- Identificação -->
    <div class="field">
      <label class="label">Identificação</label>
      <div class="control">
        <input
          class="input is-tabular"
          type="text"
          placeholder="ex. 978-85-8362-150-8"
          name="isbn"
          v-model="$v.internBook.isbn.$model"
          :readonly="isbnReadOnly"
          required
          :class="{ 'is-danger': $v.internBook.isbn.$error }"
          @blur="internBook.isbn = formattedIsbn"
        >
      </div>
      <p
        class="help is-danger"
        id="help-danger-title"
        v-if="$v.internBook.isbn.$error"
      >
        O campo da identificação é obrigatório, mas está vazio.
      </p>
    </div>

    <!-- Título -->
    <div class="field">
      <label class="label">Título</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="ex. A Nova Ilha do Tesouro"
          name="title"
          v-model="$v.internBook.title.$model"
          required
          :class="{ 'is-danger': $v.internBook.title.$error }"
        >
      </div>
      <p
        class="help is-danger"
        id="help-danger-title"
        v-if="$v.internBook.title.$error"
      >
        O campo do título é obrigatório, mas está vazio.
      </p>
    </div>

    <!-- Autores e Editora -->
    <div class="columns is-variable is-2">
      <div class="column">
        <div class="field">
          <label class="label">Autores</label>
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="ex. Osamu Tezuka"
              name="authors"
              v-model="$v.internBook.authors.$model"
              required
              :class="{ 'is-danger': $v.internBook.authors.$error }"
            >
          </div>
          <p
            class="help"
            id="help-authors"
            v-if="!$v.internBook.authors.$error"
          >
            Separe os autores utilizando um ponto e vírgula.
          </p>
          <p
            class="help is-danger"
            id="help-danger-authors"
            v-if="$v.internBook.authors.$error"
          >
            O campo dos autores é obrigatório, mas está vazio.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">Editora</label>
          <div class="control is-expanded">
            <input
              class="input"
              type="text"
              placeholder="ex. NewPOP"
              name="imprint"
              v-model="$v.internBook.imprint.$model"
              list="imprint-list"
              required
              :class="{ 'is-danger': $v.internBook.imprint.$error }"
            >
            <datalist id="imprint-list">
              <option
                v-for="imprint of datalists.imprints"
                :key="imprint"
              >
                {{ imprint }}
              </option>
            </datalist>
          </div>
          <p
            class="help is-danger"
            id="help-danger-imprint"
            v-if="$v.internBook.imprint.$error"
          >
            O campo da editora é obrigatório, mas está vazio.
          </p>
        </div>
      </div>
    </div>

    <!-- Formato e Preço -->
    <div class="columns is-variable is-2">
      <div class="column">
        <div class="field">
          <label class="label">Formato</label>
          <div class="field has-addons">
            <div class="control">
              <input
                class="input is-tabular"
                type="text"
                placeholder="ex. 15,0"
                name="size-width"
                v-model="$v.internBook.size.width.$model"
                required
                :class="{ 'is-danger': $v.internBook.size.width.$error }"
              >
            </div>
            <div class="control">
              <p class="button is-static">×</p>
            </div>
            <div class="control">
              <input
                class="input is-tabular"
                type="text"
                placeholder="ex. 21,0"
                name="size-height"
                v-model="$v.internBook.size.height.$model"
                required
                :class="{ 'is-danger': $v.internBook.size.height.$error }"
              >
            </div>
            <div class="control">
              <p class="button is-static">cm</p>
            </div>
          </div>
          <p 
            class="help is-danger"
            id="help-danger-size"
            v-if="$v.internBook.size.$error"
          >
            O formato deve ser um número válido.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">Preço de capa</label>
          <div class="field has-addons">
            <div class="control">
              <span class="select">
                <select
                  name="price-currency"
                  v-model="internBook.price.currency"
                >
                  <option value="R$">R$</option>
                  <option value="US$">US$</option>
                  <option value="€">€</option>
                  <option value="¥">¥</option>
                </select>
              </span>
            </div>
            <div class="control is-expanded">
              <input
                class="input is-tabular"
                type="text"
                placeholder="ex. 26,90"
                name="price-value"
                v-model="$v.internBook.price.value.$model"
                required
                :class="{ 'is-danger': $v.internBook.price.value.$error }"
              >
            </div>
          </div>
          <p
            class="help is-danger"
            id="help-danger-price"
            v-if="$v.internBook.price.$error"
          >
            O preço deve ser um número válido.
          </p>
        </div>
      </div>
    </div>

    <!-- Loja, Data e Estado -->
    <div class="columns is-variable is-2">
      <div class="column is-one-third">
        <div class="field">
          <label class="label">Loja</label>
          <div class="control is-expanded">
            <input
              class="input"
              type="text"
              placeholder="ex. Presente"
              name="store"
              v-model="$v.internBook.store.$model"
              list="store-list"
              required
              :class="{ 'is-danger': $v.internBook.store.$error }"
            >
            <datalist id="store-list">
              <option
                v-for="store of datalists.stores"
                :key="store"
              >
                {{ store }}
              </option>
            </datalist>
          </div>
          <p
            class="help is-danger"
            v-if="$v.internBook.store.$error"
          >
            O campo da loja é obrigatório, mas está vazio.
          </p>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="field">
          <label class="label">Data</label>
          <div class="control is-expanded">
            <input
              class="input"
              type="date"
              placeholder="ex. 04/03/2020"
              name="date"
              v-model="internBook.date8601"
            >
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="field">
          <label class="label">Estado</label>
          <div class="control is-expanded">
            <span class="select">
              <select name="status" v-model="internBook.status">
                <option value="Lido">Lido</option>
                <option value="Não lido">Não lido</option>
              </select>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script id="creation-record-script">
  const { helpers, required } = window.validators

  const decimalComma = (digits) => helpers.regex(
    'decimalComma', 
    new RegExp(`^\\d+\\,\\d{${digits}}$`)
  )

  const CreationRecord = {
    template: '#creation-record-template',
    name: 'CreationRecord',
    props: {
      book: Object
    },
    data: function () {
      return {
        datalists: DATALISTS,
        internBook: {},
        isbnReadOnly: false
      }
    },
    computed: {
      formattedIsbn: function () {
        const isbn = this.internBook.isbn

        if (isbn.length === 10) {
          return isbn.replace(/(\d{2})(\d{4})(\d{3})([\dxX]{1})/, '$1-$2-$3-$4')
        }
    
        return isbn.replace(/(\d{3})(\d{2})(\d{4})(\d{3})(\d)/, '$1-$2-$3-$4-$5')
      }
    },
    validations: {
      internBook: {
        isbn: { required },
        title: { required },
        authors: { required },
        imprint: { required },
        size: {
          width: { required, decimalComma: decimalComma(1) },
          height: { required, decimalComma: decimalComma(1) }
        },
        price: {
          value: { required, decimalComma: decimalComma(2) }
        },
        store: { required }
      }
    },
    created: function () {
      this.internBook = Object.assign({}, this.internBook, this.book, {
        size: { ...this.book.size },
        price: { ...this.book.price }
      })
      // this.internBook.size = Object.assign({}, this.internBook, this.book.size)
      // this.internBook.price = Object.assign({}, this.internBook.price, this.book.price)
      this.isbnReadOnly = this.book.isbn !== ''

      if (this.book.isbn !== '') {
        this.internBook.isbn = this.formattedIsbn
      }
    },
    mounted: function () {
      this.$v.internBook.$reset()
      this.$emit('validate:error', this.$v.internBook.$error)
      this.$emit('validate:invalid', this.$v.internBook.$invalid)
    },
    watch: {
      'book': function (newValue) {
        this.internBook = Object.assign({}, this.internBook, newValue, {
          size: { ...newValue.size },
          price: { ...newValue.price }
        })
      },
      'internBook.title': function (newValue) {
        this.internBook.titleParts = newValue.split(/\s+#(\d+)(?:\:\s+)?/)
      },
      '$v.internBook.$error': function (hasError) {
        this.$emit('validate:error', hasError)
      },
      '$v.internBook.$invalid': function (isInvalid) {
        this.$emit('validate:invalid', isInvalid)
      }
    }
  }
</script>
