<script type="text/x-template" id="creation-image-template">
  <section class="is-creation-image">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Capa
        </p>
        <a class="card-header-icon" @click="handleRemoveClick">
          <span class="icon">
            <i class="fas fa-times"></i>
          </span>
        </a>
      </header>
      <div class="card-image">
        <figure class="image is-2by3">
          <img :src="imageUrl">
        </figure>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item" @click="fetchImage">
          <span class="icon">
            <i class="fas fa-search"></i>
          </span>
          <span>Obter</span>
        </a>
      </footer>
    </div>
  </section>
</script>

<script id="creation-image-script">
  const CreationImage = {
    template: '#creation-image-template',
    name: 'CreationImage',
    computed: {
      imageUrl: function () {
        return this.hasCover ? this.coverUrl : this.placeholder
      },
      ...Vuex.mapState('book', ['coverUrl']),
      ...Vuex.mapState('creation/cover', ['placeholder']),
      ...Vuex.mapGetters('book', ['hasCover'])
    },
    methods: {
      fetchImage: function () {
        if (this.hasCover) {
          return
        }

        this.fetchCover({ module: 'creation' })
      },
      handleRemoveClick: function () {
        this.updateCoverUrl('')
      },
      ...Vuex.mapMutations('book', ['updateCoverUrl']),
      ...Vuex.mapActions('book', ['fetchCover'])
    }
  }
</script>
