<script type="text/x-template" id="creation-record-template">
  <div class="form-fields px-1 py-1">
    <!-- Identificação -->
    <div class="field">
      <label class="label">Identificação</label>
      <div class="control">
        <input
          class="input is-tabular"
          type="text"
          placeholder="ex. 978-85-8362-150-8"
          name="isbn"
          required
          :value="isbn"
          :readonly="isbnReadOnly"
          :class="{ 'is-danger': $v.isbn.$error }"
          @change="updateIsbn"
        >
      </div>
      <p
        class="help is-danger"
        id="help-danger-title"
        v-if="$v.isbn.$error"
      >
        O campo da identificação é obrigatório, mas está vazio.
      </p>
    </div>

    <!-- Título -->
    <div class="field">
      <label class="label">Título</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="ex. A Nova Ilha do Tesouro"
          name="title"
          required
          :value="title"
          :class="{ 'is-danger': $v.title.$error }"
          @input="updateTitle"
        >
      </div>
      <p
        class="help is-danger"
        id="help-danger-title"
        v-if="$v.title.$error"
      >
        O campo do título é obrigatório, mas está vazio.
      </p>
    </div>

    <!-- Autores e Editora -->
    <div class="columns is-variable is-2">
      <div class="column">
        <div class="field">
          <label class="label">Autores</label>
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="ex. Osamu Tezuka"
              name="authors"
              required
              :value="authors"
              :class="{ 'is-danger': $v.authors.$error }"
              @input="updateAuthors"
            >
          </div>
          <p
            class="help"
            id="help-authors"
            v-if="!$v.authors.$error"
          >
            Separe os autores utilizando um ponto e vírgula.
          </p>
          <p
            class="help is-danger"
            id="help-danger-authors"
            v-if="$v.authors.$error"
          >
            O campo dos autores é obrigatório, mas está vazio.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">Editora</label>
          <div class="control is-expanded">
            <input
              class="input"
              type="text"
              placeholder="ex. NewPOP"
              name="imprint"
              list="imprint-list"
              required
              :value="imprint"
              :class="{ 'is-danger': $v.imprint.$error }"
              @input="updateImprint"
            >
            <datalist id="imprint-list">
              <option
                v-for="imprint of datalists.imprints"
                :key="imprint"
              >
                {{ imprint }}
              </option>
            </datalist>
          </div>
          <p
            class="help is-danger"
            id="help-danger-imprint"
            v-if="$v.imprint.$error"
          >
            O campo da editora é obrigatório, mas está vazio.
          </p>
        </div>
      </div>
    </div>

    <!-- Formato e Preço -->
    <div class="columns is-variable is-2">
      <div class="column">
        <div class="field">
          <label class="label">Formato</label>
          <div class="field has-addons">
            <div class="control">
              <input
                class="input is-tabular"
                type="text"
                placeholder="ex. 15,0"
                name="size-width"
                required
                :value="size.width"
                :class="{ 'is-danger': $v.size.width.$error }"
                @input="updateSizeWidth"
              >
            </div>
            <div class="control">
              <p class="button is-static">×</p>
            </div>
            <div class="control">
              <input
                class="input is-tabular"
                type="text"
                placeholder="ex. 21,0"
                name="size-height"
                required
                :value="size.height"
                :class="{ 'is-danger': $v.size.height.$error }"
                @input="updateSizeHeight"
              >
            </div>
            <div class="control">
              <p class="button is-static">cm</p>
            </div>
          </div>
          <p 
            class="help is-danger"
            id="help-danger-size"
            v-if="$v.size.$error"
          >
            O formato deve ser um número válido.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">Preço de capa</label>
          <div class="field has-addons">
            <div class="control">
              <span class="select">
                <select
                  name="price-currency"
                  v-model="priceCurrency"
                >
                  <option
                    v-for="(currency, index) of currencies"
                    :key="index"
                    :value="currency"
                  >
                    {{ currency }}
                  </option>
                </select>
              </span>
            </div>
            <div class="control is-expanded">
              <input
                class="input is-tabular"
                type="text"
                placeholder="ex. 26,90"
                name="price-value"
                required
                :value="price.value"
                :class="{ 'is-danger': $v.price.value.$error }"
                @input="updatePriceValue"
              >
            </div>
          </div>
          <p
            class="help is-danger"
            id="help-danger-price"
            v-if="$v.price.$error"
          >
            O preço deve ser um número válido.
          </p>
        </div>
      </div>
    </div>

    <!-- Loja, Data e Estado -->
    <div class="columns is-variable is-2">
      <div class="column is-one-third">
        <div class="field">
          <label class="label">Loja</label>
          <div class="control is-expanded">
            <input
              class="input"
              type="text"
              placeholder="ex. Presente"
              name="store"
              list="store-list"
              required
              :value="store"
              :class="{ 'is-danger': $v.store.$error }"
              @input="updateStore"
            >
            <datalist id="store-list">
              <option
                v-for="store of datalists.stores"
                :key="store"
              >
                {{ store }}
              </option>
            </datalist>
          </div>
          <p
            class="help is-danger"
            v-if="$v.store.$error"
          >
            O campo da loja é obrigatório, mas está vazio.
          </p>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="field">
          <label class="label">Data</label>
          <div class="control is-expanded">
            <input
              class="input"
              type="date"
              placeholder="ex. 04/03/2020"
              name="date"
              :value="date8601"
              @change="updateDate"
            >
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="field">
          <label class="label">Estado</label>
          <div class="control is-expanded">
            <span class="select">
              <select name="status" v-model="status">
                <option value="Lido">Lido</option>
                <option value="Não lido">Não lido</option>
              </select>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script id="creation-record-script">
  const { helpers, required } = window.validators

  const decimalComma = (digits) => helpers.regex(
    'decimalComma', 
    new RegExp(`^\\d+\\,\\d{${digits}}$`)
  )

  const CreationRecord = {
    template: '#creation-record-template',
    name: 'CreationRecord',
    data: function () {
      return {
        currencies: ['R$', 'US$', '€', '¥'],
        datalists: DATALISTS,
        isbnReadOnly: false
      }
    },
    computed: {
      priceCurrency: {
        get: function () {
          return this.$store.state.book.price.currency
        },
        set: function (currency) {
          this.$store.commit('book/updatePrice', { currency })
        }
      },
      status: {
        get: function () {
          return this.$store.state.book.status
        },
        set: function (status) {
          this.$store.commit('book/updateStatus', status)
        }
      },
      ...Vuex.mapState('book', [
        'isbn',
        'title',
        'authors',
        'imprint',
        'size',
        'price',
        'store',
        'date8601'
      ])
    },
    methods: {
      updateIsbn: function (e) {
        this.$store.dispatch('book/changeIsbn', e.target.value)
        this.$v.isbn.$touch()
      },
      updateTitle: function (e) {
        this.$store.dispatch('book/changeTitle', e.target.value)
        this.$v.title.$touch()
      },
      updateAuthors: function (e) {
        this.$store.commit('book/updateTitle', e.target.value)
        this.$v.authors.$touch()
      },
      updateImprint: function (e) {
        this.$store.dispatch('book/changeImprint', e.target.value)
        this.$v.imprint.$touch()
      },
      updateSizeWidth: function (e) {
        this.$store.commit('book/updateSize', { width: e.target.value })
        this.$v.size.width.$touch()
      },
      updateSizeHeight: function (e) {
        this.$store.commit('book/updateSize', { height: e.target.value })
        this.$v.size.height.$touch()
      },
      updatePriceValue: function (e) {
        this.$store.commit('book/updatePrice', { value: e.target.value })
        this.$v.price.value.$touch()
      },
      updateStore: function (e) {
        this.$store.commit('book/updateStore', e.target.value)
        this.$v.store.$touch()
      },
      updateDate: function (e) {
        this.$store.commit('book/updateDate', e.target.value)
      },
      ...Vuex.mapMutations('creation/modal', [
        'updateRecordError',
        'updateRecordInvalid'
      ])
    },
    validations: {
      isbn: { required },
      title: { required },
      authors: { required },
      imprint: { required },
      size: {
        width: { required, decimalComma: decimalComma(1) },
        height: { required, decimalComma: decimalComma(1) }
      },
      price: {
        value: { required, decimalComma: decimalComma(2) }
      },
      store: { required }
    },
    created: function () {
      this.isbnReadOnly = this.isbn !== ''
      this.updateRecordInvalid(this.$v.$invalid)
      this.updateRecordError(this.$v.$error)
    },
    watch: {
      '$v.$invalid': function (isInvalid) {
        this.updateRecordInvalid(isInvalid)
      },
      '$v.$error': function (hasError) {
        this.updateRecordError(hasError)
      }
    }
  }
</script>
