<script type="text/x-template" id="creation-search-template">
  <section class="is-search-prompt">
    <div class="field has-addons">
      <div class="control">
        <p class="button is-rounded is-medium is-static">CBL</p>
      </div>
      <div class="control has-icons-left is-expanded" id="control-isbn">
        <input
          class="input is-rounded is-tabular is-medium"
          type="text"
          placeholder="Procurar pelo ISBN…"
          name="isbn-search"
          v-model="isbnToSearch"
          @keyup.enter.stop.prevent="search"
        >
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </div>
    </div>
    <div class="is-divider" data-content="OU"></div>
    <button
      type="button"
      class="button is-medium is-link"
      id="manual-add-button"
      @click="handleManualClick"
    >
      Adicionar manualmente
    </button>
  </section>
</script>

<script id="creation-search-script">
  const CreationSearch = {
    template: '#creation-search-template',
    name: 'CreationSearch',
    data: function () {
      return {
        isbnToSearch: ''
      }
    },
    methods: {
      handleManualClick: function () {
        this.nextStep()
      },
      search: function () {
        this.fetchSearch(this.isbnToSearch)
      },
      ...Vuex.mapActions('creation/modal', ['fetchSearch', 'nextStep'])
    }
  }
</script>
