<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Criação</title>
    <!-- CSS Dependencies -->
    <?!= includeCssDependencies(); ?>
    <!-- Custom Stylesheet -->
    <?!= include('src/html/ModalCreation/Stylesheet'); ?>
  </head>
  <body>
    <div id="app">
      <form
        novalidate
        class="is-unselectable"
        @submit.self.prevent="handleFormSubmit"
      >
        <!-- Mensagem de erro -->
        <article class="message is-danger" v-if="hasError">
          <div class="message-header">
            <p>Ops! Um erro aconteceu</p>
          </div>
          <div class="message-body">
            {{ error }}
          </div>
        </article>

        <!-- Step 01 -->
        <creation-search
          v-if="!hasError && steps.current === 0">
        </creation-search>

        <section
          class="px-1 py-1"
          id="form-content"
          v-if="!hasError && steps.current > 0"
        >
          <!-- Step 02 -->
          <creation-record
            v-if="steps.current === 1">
          </creation-record>

          <!-- Step 03 -->
          <creation-image
            v-if="steps.current === 2">
          </creation-image>

          <!-- Botões de controle -->
          <div
            class="level is-bottom-level"
            v-if="!hasError && steps.current > 0"
          >
            <div class="level-left">
              <div class="level-item">
                <div class="buttons has-addons">
                  <button
                    class="button"
                    :disabled="steps.current === steps.initial"
                    @click="handlePaginationPrevious"
                  >
                    <span class="icon is-small">
                      <i class="fas fa-chevron-left"></i>
                    </span>
                  </button>
                  <button
                    class="button"
                    :disabled="paginationNextDisabled"
                    @click="handlePaginationNext"
                  >
                    <span class="icon is-small">
                      <i class="fas fa-chevron-right"></i>
                    </span>
                  </button>
                </div>
              </div>
              <div class="level-item" v-if="steps.current === 1">
                <button
                  type="button"
                  class="button"
                  @click="handleFillInfoClick"
                >
                  <span class="icon is-small">
                    <i class="fas fa-binoculars"></i>
                  </span>
                  <span>Preencher</span>
                </button>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <button
                  type="button"
                  class="button is-link is-light"
                  @click="handleCancelClick"
                >
                  Cancelar
                </button>
              </div>
              <div class="level-item">
                <button
                  type="submit"
                  class="button is-link"
                  :disabled="(steps.current < steps.final) || recordInvalid"
                >
                  <span class="icon is-small">
                    <i class="fas fa-check"></i>
                  </span>
                  <span>Concluir</span>
                </button>
              </div>
            </div>
          </div>
        </section>

        <button type="submit" class="is-hidden" disabled aria-hidden="true"></button>
      </form>
      
      <div
        class="loader-wrapper"
        :class="{ 'is-active': isLoading }"
      >
        <div class="loader is-loading"></div>
      </div>
    </div>
    
    <!-- Dependencies -->
    <?!= includeJsDependencies(); ?>
    <!-- Properties -->
    <?!= includeJson('properties', properties); ?>
    <!-- Datalists -->
    <?!= includeJson('datalists', entityUniqueProperties); ?>
    <!-- Store -->
    <?!= include('src/store/Store'); ?>
    <!-- Components -->
    <?!= includeComponent('Creation/CreationSearch'); ?>
    <?!= includeComponent('Creation/CreationRecord'); ?>
    <?!= includeComponent('Creation/CreationImage'); ?>
    <!-- App -->
    <?!= include('src/html/ModalCreation/App'); ?>
  </body>
</html>


