<script type="text/x-template" id="edition-image-template">
  <div id="additional-fields" data-tab>
    <!-- Imagem de capa -->
    <div class="field" id="cover-url-field">
      <label class="label">Imagem de capa</label>
      <div class="field has-addons mb-0">
        <div class="control is-expanded">
          <input
            class="input"
            type="text"
            name="cover-url"
            :value="bookCoverUrl"
            :class="{ 'is-danger': coverHasError }"
            :disabled="coverIsFetching"
            @change="updateCoverUrl"
          >
        </div>
        <div class="control">
          <button
            type="button"
            class="button"
            @click="handleFetchClick"
            :class="{ 'is-loading': coverIsFetching }"
          >
            <span class="icon">
              <i class="fas fa-search"></i>
            </span>
            <span>Obter</span>
          </button>
        </div>
      </div>
      <p class="help is-danger" v-if="coverHasError">
        {{ coverError }}
      </p>
    </div>
  </div>
</script>

<script id="edition-image-script">
  const EditionImage = {
    template: '#edition-image-template',
    name: 'EditionImage',
    computed: {
      ...Vuex.mapGetters('book', ['bookCoverUrl']),
      ...Vuex.mapGetters('edition/cover', [
        'coverError',
        'coverHasError',
        'coverIsFetching'
      ])
    },
    methods: {
      handleFetchClick: function () {
        if (!this.coverIsFetching) {
          this.fetchCover('edition')
        }
      },
      updateCoverUrl: function (e) {
        this.$store.commit('book/updateCoverUrl', e.target.value)
      },
      ...Vuex.mapActions('book', ['fetchCover'])
    }
  }
</script>
