<script type="text/x-template" id="edition-panel-template">
  <aside class="is-image-column">
    <div class="panel">
      <div class="panel-block" id="book-image">
        <figure
          class="image is-2by3"
          :class="{ 'is-danger': coverHasError }"
        >
          <div
            class="loader-wrapper"
            :class="{ 'is-active': coverIsFetching || coverIsLoading }"
          >
            <div class="loader is-loading"></div>
          </div>
          <img :src="imageUrl" ref="image">
          <span
            class="tag is-dark is-image-resolution"
            v-if="showCoverResolution"
          >
            {{ coverResolution }}
          </span>
        </figure>
      </div>
      <p class="panel-block">
        <span class="panel-icon">
          <i class="fas fa-fingerprint" aria-hidden="true"></i>
        </span>
        <span id="panel-isbn" class="is-tabular">
          {{ bookIsbn }}
        </span>
        <span id="panel-isbn-type" class="tag">
          {{ bookIsbnType }}
        </span>
      </p>
      <p class="panel-block">
        <span class="panel-icon">
          <i class="fas fa-book" aria-hidden="true"></i>
        </span>
        <span id="panel-title">
          {{ bookTitleParts[0] }}
        </span>
        <span
          id="panel-title-number"
          class="tag"
          v-if="bookTitleParts[1]"
        >
          #{{ bookTitleParts[1] }}
        </span>
      </p>
    </div>
  </aside>
</script>

<script id="edition-panel-script">
 const EditionPanel = {
    template: '#edition-panel-template',
    name: 'EditionPanel',
    data: function () {
      return {
        imageUrl: ''
      }
    },
    computed: {
      showCoverResolution: function () {
        const conditions = [
          this.showDebugTools,
          !this.coverIsLoading,
          !this.coverIsFetching,
          this.imageUrl !== this.coverPlaceholder,
          this.coverResolution.length > 0
        ]

        return conditions.every(b => b)
      },
      ...Vuex.mapGetters('settings/properties', ['showDebugTools']),
      ...Vuex.mapGetters('book', [
        'bookIsbn',
        'bookIsbnType',
        'bookTitleParts'
      ]),
      ...Vuex.mapGetters('edition/cover', [
        'coverHasError',
        'coverIsFetching',
        'coverIsLoading',
        'coverLoadingUrl',
        'coverPlaceholder',
        'coverResolution'
      ]),
      ...Vuex.mapState('book', { bookCoverUrl: 'coverUrl' })
    },
    methods: {
      handleImageError: function (error) {
        this.imageUrl = this.coverPlaceholder
        this.updateCoverLoadingUrl('')
        this.updateCoverError('Imagem não encontrada.')
        this.updateCoverLoading(false)
        this.updateCoverResolution('')
        // this.$emit('image-error', 'Imagem não encontrada.')
      },
      handleImageLoaded: function (image) {
        this.imageUrl = this.coverLoadingUrl
        this.updateCoverUrl(this.imageUrl)
        this.updateCoverError('')
        this.updateCoverLoading(false)
        this.updateCoverResolution(image.naturalWidth + 'x' + image.naturalHeight)
        // this.$emit('image-load')
        // this.imageResolution = image.naturalWidth + 'x' + image.naturalHeight
      },
      loadImage: function () {
        this.updateCoverLoading(true)

        const image = new Image()
        image.onload = this.handleImageLoaded.bind(this, image)
        image.onerror = this.handleImageError.bind(this)
        image.src = this.coverLoadingUrl
      },
      ...Vuex.mapMutations('edition/cover', [
        'updateCoverError',
        'updateCoverLoading',
        'updateCoverLoadingUrl',
        'updateCoverResolution'
      ]),
      ...Vuex.mapMutations('book', ['updateCoverUrl'])
    },
    watch: {
      bookCoverUrl: function (newValue) {
        if (newValue === '') {
          this.imageUrl = this.coverPlaceholder
          this.updateCoverLoadingUrl(this.coverPlaceholder)
          this.updateCoverLoading(false)
          this.updateCoverResolution('')
          return
        }

        this.imageUrl = this.coverPlaceholder
        this.updateCoverLoadingUrl(newValue)
        this.loadImage()
      },
      // 'book.coverUrl': function (newValue) {
      //   if (newValue === '') {
      //     this.imageUrl = PLACEHOLDER
      //     this.loadingUrl = PLACEHOLDER
      //     this.imageIsLoading = false
      //     this.imageResolution = ''
      //     return
      //   }

      //   this.imageUrl = PLACEHOLDER
      //   this.loadingUrl = newValue
      //   this.loadImage()
      // }
    },
    mounted: function () {
      this.imageUrl = this.coverPlaceholder

      const loadingUrl = this.bookCoverUrl && this.bookCoverUrl.length
        ? this.bookCoverUrl : this.coverPlaceholder

      this.updateCoverLoadingUrl(loadingUrl)
      this.loadImage()
    }
  }
</script>
