<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edição</title>
    <!-- CSS Dependencies -->
    <?!= includeCssDependencies(); ?>
    <!-- Custom Stylesheet -->
    <?!= include('src/html/ModalEdition/Stylesheet'); ?>
  </head>
  <body>
    <div id="app">
      <form
        novalidate
        class="px-1 py-1 is-unselectable"
        @submit.prevent="handleFormSubmit"
      >
        <edition-header v-if="!hasError"></edition-header>

        <article
          class="message is-danger"
          :class="{ 'is-hidden': !hasError }"
        >
          <div class="message-header">
            <p>Ops! Um erro aconteceu</p>
          </div>
          <div class="message-body">
            {{ error }}
          </div>
        </article>

        <edition-panel v-if="!hasError"></edition-panel>

        <main class="tab-content-wrapper" v-if="!hasError">
          <edition-record
            :class="{ 'is-hidden': activeTab !== 0 }">
          </edition-record>
          <edition-image
            :class="{ 'is-hidden': activeTab !== 1 }">
          </edition-image>
          <edition-debugger
            :class="{ 'is-hidden': activeTab !== 2 }">
          </edition-debugger>
        </main>

        <!-- Botões de controle -->
        <section
          class="level is-bottom-level"
          id="control-buttons"
          v-if="!hasError"
        >
          <div class="level-left">
            <div class="level-item">
              <button
                type="button" 
                class="button is-danger" 
                @click="handleDeleteClick">
                <span class="icon">
                  <i class="fas fa-trash"></i>
                </span>
                <span>Excluir</span>
              </button>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item" v-if="updatedAt.length">
              <p class="is-size-7">
                Alterações salvas às {{ updatedAt }}.
              </p>
            </div>
            <div class="level-item">
              <button
                type="button"
                class="button is-link is-light"
                @click="handleCancelClick"
              >
                Cancelar
              </button>
            </div>
            <div class="level-item">
              <button type="submit" class="is-hidden" disabled aria-hidden="true"></button>
              <button
                type="submit"
                class="button is-link"
                id="submit-button"
                :disabled="validation.record.invalid"
              >
                <span class="icon">
                  <i class="fas fa-save"></i>
                </span>
                <span>Salvar</span>
              </button>
            </div>
          </div>
        </section>
      </form>

      <div class="loader-wrapper" :class="{ 'is-active': isLoading }">
        <div class="loader is-loading"></div>
      </div>
    </div>
    
    <!-- Dependencies -->
    <?!= includeJsDependencies(); ?>
    <!-- Properties -->
    <?!= includeJson('properties', properties); ?>
    <!-- Book -->
    <?!= includeJson('book', book); ?>
    <!-- Datalists -->
    <?!= includeJson('datalists', entityUniqueProperties); ?>
    <!-- Store -->
    <?!= include('src/store/Store'); ?>
    <!-- Components -->
    <?!= includeComponent('Edition/EditionHeader'); ?>
    <?!= includeComponent('Edition/EditionPanel'); ?>
    <?!= includeComponent('Edition/EditionRecord'); ?>
    <?!= includeComponent('Edition/EditionImage'); ?>
    <?!= includeComponent('Edition/EditionDebugger'); ?>
    <!-- App -->
    <?!= include('src/html/ModalEdition/App'); ?>
  </body>
</html>
