<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Configurações</title>
    <!-- CSS Dependencies -->
    <?!= includeCssDependencies(); ?>
    <!-- Custom Stylesheet -->
    <?!= include('src/html/ModalSettings/Stylesheet'); ?>
  </head>
  <body>
    <div id="app">
      <form
        novalidate
        :class="{ 'is-hidden': errorMessage.length }"
        @submit.prevent="handleFormSubmit"
      >
        <div class="columns" v-if="!errorMessage.length">
          <div class="column pb-0 is-one-quarter">
            <settings-aside-menu :items="menuItems"></settings-aside-menu>
          </div>
          <div class="column pb-0 tab-content-wrapper">
            <settings-behavior
              :active="menuItemActive === 'behavior'">
            </settings-behavior>
            <settings-cbl
              :active="menuItemActive === 'cbl'">
            </settings-cbl>
            <settings-about
              :active="menuItemActive === 'about'">
            </settings-about>

            <div class="level" id="control-buttons">
              <div class="level-left"></div>
              <div class="level-right">
                <div class="level-item" v-if="menuItemActive === 'about'">
                  <p class="is-size-7">
                    {{ appVersion }}
                  </p>
                </div>
                <div class="level-item">
                  <button
                    type="button"
                    class="button is-link is-light"
                    @click="handleCancelClick"
                  >
                    {{ menuItemActive === 'about' ? 'Fechar' : 'Cancelar' }}
                  </button>
                </div>
                <div class="level-item" v-if="menuItemActive !== 'about'">
                  <button type="submit" class="button is-link">
                    <span class="icon">
                      <i class="fas fa-save"></i>
                    </span>
                    <span>Salvar</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button type="submit" class="is-hidden" disabled aria-hidden="true"></button>
      </form>

      <article
        class="message is-danger"
        id="message-danger"
        :class="{ 'is-hidden': !errorMessage.length }"
      >
        <div class="message-header">
          <p>Ops! Um erro aconteceu</p>
        </div>
        <div class="message-body">
          {{ errorMessage }}
        </div>
      </article>

      <div
        class="loader-wrapper"
        id="loader-general"
        :class="{ 'is-active': isLoading }"
      >
        <div class="loader is-loading"></div>
      </div>
    </div>
    
    <!-- JS Dependencies -->
    <?!= includeJsDependencies(); ?>
    <!-- Updater -->
    <?!= includeJson('updater', updater); ?>
    <!-- Properties -->
    <?!= includeJson('properties', properties); ?>
    <!-- Store -->
    <?!= include('src/store/Store'); ?>
    <!-- Components -->
    <?!= includeComponent('Settings/SettingsAsideMenu'); ?>
    <?!= includeComponent('Settings/SettingsBehavior'); ?>
    <?!= includeComponent('Settings/SettingsCbl'); ?>
    <?!= includeComponent('Settings/SettingsAbout'); ?>
    <!-- App -->
    <?!= include('src/html/ModalSettings/App'); ?>
  </body>
</html>
