<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Configurações</title>
    <!-- Prefetch -->
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net/">
    <link rel="dns-prefetch" href="//rsms.me/">
    <link rel="dns-prefetch" href="//use.fontawesome.com/">
    <!-- CSS Libraries -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
    <?!= include('src/html/ModalSettings/Stylesheet'); ?>
  </head>
  <body>
    <div id="app">
      <form
        novalidate
        :class="{ 'is-hidden': errorMessage.length }"
        @submit.prevent="handleFormSubmit"
      >
        <div class="columns" v-if="!errorMessage.length">
          <div class="column pb-0 is-one-quarter">
            <aside-menu
              :items="menuItems"
              @active="handleMenuClick">
            </aside-menu>
          </div>
          <div class="column pb-0 tab-content-wrapper">
            <settings-behavior
              :active="menuItemActive === 'behavior'">
            </settings-behavior>
            <settings-cbl
              :active="menuItemActive === 'cbl'">
            </settings-cbl>
            <settings-about
              :active="menuItemActive === 'about'">
            </settings-about>

            <div class="level" id="control-buttons">
              <div class="level-left"></div>
              <div class="level-right">
                <div class="level-item">
                  <button
                    type="button"
                    class="button is-link is-light"
                    @click="handleCancelClick"
                  >
                    {{ menuItemActive === 'about' ? 'Fechar' : 'Cancelar' }}
                  </button>
                </div>
                <div class="level-item" v-if="menuItemActive !== 'about'">
                  <button type="submit" class="button is-link">
                    <span class="icon">
                      <i class="fas fa-save"></i>
                    </span>
                    <span>Salvar</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button type="submit" class="is-hidden" disabled aria-hidden="true"></button>
      </form>

      <article
        class="message is-danger"
        id="message-danger"
        :class="{ 'is-hidden': !errorMessage.length }"
      >
        <div class="message-header">
          <p>Ops! Um erro aconteceu</p>
        </div>
        <div class="message-body">
          {{ errorMessage }}
        </div>
      </article>

      <div
        class="loader-wrapper"
        id="loader-general"
        :class="{ 'is-active': isLoading }"
      >
        <div class="loader is-loading"></div>
      </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuex@3.5.1/dist/vuex.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked@1.2.4/marked.min.js"></script>
    <!-- Properties -->
    <script type="application/json" id="properties-json">
      <?!= JSON.stringify(properties) ?>
    </script>
    <!-- Store -->
    <?!= include('src/store/Store'); ?>
    <!-- Components -->
    <?!= include('src/components/AsideMenu'); ?>
    <?!= include('src/components/Settings/SettingsBehavior'); ?>
    <?!= include('src/components/Settings/SettingsCbl'); ?>
    <?!= include('src/components/Settings/SettingsAbout'); ?>
    <!-- App -->
    <?!= include('src/html/ModalSettings/App'); ?>
  </body>
</html>
