<script type="text/x-template" id="settings-cbl-template">
  <section
    class="section"
    :class="{ 'is-hidden': !active }"
    data-settings-group
  >
    <h1 class="title is-4">CBL</h1>
    <div class="field is-setting">
      <label class="label">Chave de consulta</label>
      <div class="control" :class="{ 'has-icons-right': cblQueryKeyIsEmpty }">
        <input
          class="input"
          type="text" 
          name="USER_CBL_QUERY_KEY"
          placeholder="ex. AB20389372485D98E580C50AFCFAD453"
          v-model="cblQueryKey"
          :class="{ 'is-danger': cblQueryKeyIsEmpty }"
        >
        <span class="icon is-small is-right" v-if="cblQueryKeyIsEmpty">
          <i class="fas fa-exclamation-circle"></i>
        </span>
      </div>
      <p class="help">
        A chave de consulta permite a obtenção de informações pelo ISBN.
      </p>
      <a 
        :href="queryKeyHelpUrl"
        rel="nofollow"
        target="_blank"
        class="button is-small is-white mt-2 has-text-grey is-help-button"
      >
        <span class="icon">
          <i class="far fa-question-circle"></i>
        </span>
        <span>Aprenda como obter a chave de consulta.</span>
      </a>
    </div>
  </section>
</script>

<script id="settings-cbl-script">
  const SettingsCbl = {
    template: '#settings-cbl-template',
    name: 'SettingsCbl',
    props: {
      active: Boolean
    },
    data: function () {
      return {
        queryKeyHelpUrl: 'https://gist.github.com/alessandrojean/49a55de5857faab04c7fcf06b8c8b88b#configura%C3%A7%C3%A3o'
      }
    },
    computed: {
      cblQueryKey: {
        get: function () {
          return this.$store.state.settings.properties.user.CBL_QUERY_KEY || ''
        },
        set: function (key) {
          this.$store.commit('settings/properties/updateCblQueryKey', { key })
        }
      },
      ...Vuex.mapGetters('settings/properties', ['cblQueryKeyIsEmpty'])
    }
  }
</script>
