<script type="text/x-template" id="settings-aside-menu-template">
  <div class="menus">
    <aside class="menu">
      <template v-for="item in topMenu">
        <p class="menu-label" :key="item.key + '-label'">
          {{ item.title }}
        </p>
        <ul class="menu-list" :key="item.key + '-list'">
          <li v-for="subitem in item.subitems" :key="subitem.key">
            <a
              :class="{ 'is-active': activeItem === subitem.key }"
              @click="handleItemClick(subitem.key)"
            >
              {{ subitem.title }}
            </a>
          </li>
        </ul>
      </template>
    </aside>
    <aside class="menu is-bottom-menu">
      <template v-for="item in bottomMenu">
        <p
          class="menu-label"
          :key="item.key + '-list'"
          v-if="item.title"
        >
          {{ item.title }}
        </p>
        <ul class="menu-list" :key="item.key + '-list'">
          <li v-for="subitem in item.subitems" :key="subitem.key">
            <a
              :class="{ 'is-active': activeItem === subitem.key }"
              @click="handleItemClick(subitem.key)"
            >
              {{ subitem.title }}
            </a>
          </li>
        </ul>
      </template>
    </aside>
  </div>
</script>

<script id="settings-aside-menu-script">
  const SettingsAsideMenu = {
    template: '#settings-aside-menu-template',
    name: 'SettingsAsideMenu',
    computed: {
      bottomMenu: function () {
        return this.items.filter(m => m.bottom)
      },
      topMenu: function () {
        return this.items.filter(m => !m.bottom)
      },
      ...Vuex.mapGetters('settings/modal', ['activeItem'])
    },
    props: {
      items: {
        type: Array,
        required: true
      }
    },
    methods: {
      handleItemClick: function (activeItem) {
        this.updateActiveItem({ activeItem })
      },
      ...Vuex.mapMutations('settings/modal', ['updateActiveItem'])
    }
  }
</script>