<script type="text/x-template" id="settings-behavior-template">
  <section
    class="section"
    :class="{ 'is-hidden': !active }"
    data-settings-group
  >
    <h1 class="title is-4">Comportamento</h1>
    <h2 class="label">Opções de desenvolvedor</h2>
    <label class="checkbox">
      <input
        type="checkbox"
        name="USER_SHOW_DEBUG_TOOLS"
        value="true"
        v-model="showDebugTools"
      >
      Mostrar as ferramentas de <em>debug</em>.
    </label>
  </section>
</script>

<script id="settings-behavior-script">
  const SettingsBehavior = {
    template: '#settings-behavior-template',
    name: 'SettingsBehavior',
    props: {
      active: Boolean
    },
    computed: {
      showDebugTools: {
        get: function () {
          return this.$store.state.settings.user.SHOW_DEBUG_TOOLS === 'true'
        },
        set: function (value) {
          const show = value.toString()
          this.$store.commit('settings/updateShowDebugTools', { show })
        }
      }
    }
  }
</script>
