<script type="text/x-template" id="settings-cover-template">
  <section
    class="section"
    :class="{ 'is-hidden': !active }"
    data-settings-group
  >
    <h1 class="title is-4">Capas</h1>
    
    <!-- Amazon fallback -->
    <preference-switch
      name="Obter capas da Amazon"
      description="Se habilitado, utiliza o sistema da Amazon de reserva quando o site da editora não é suportado."
      preference-key="USE_AMAZON_FALLBACK"
      updater="updateUseAmazonFallback">
    </preference-switch>

    <!-- Amazon Image Size -->
    <preference-select
      name="Tamanho da imagem da Amazon"
      description="Imagens maiores tem mais qualidade, mas consomem mais banda."
      preference-key="AMAZON_IMAGE_SIZE"
      updater="updateAmazonImageSize"
      default-value="700"
      :select-values="['500', '600', '700', '800', '900']"
      :disabled="!useAmazonFallback">
    </preference-select>
  </section>
</script>

<script id="settings-cover-script">
  const SettingsCover = {
    template: '#settings-cover-template',
    name: 'SettingsCover',
    components: {
      PreferenceSelect,
      PreferenceSwitch
    },
    props: {
      active: Boolean
    },
    computed: {
      ...Vuex.mapGetters('settings/properties', ['useAmazonFallback'])
    }
  }
</script>
