<script type="text/x-template" id="settings-cbl-template">
  <section
    class="section"
    :class="{ 'is-hidden': !active }"
    data-settings-group
  >
    <h1 class="title is-4">CBL</h1>

    <!-- Query Key -->
    <preference-text
      name="Chave de consulta"
      description="A chave de consulta permite a obtenção de informações pelo ISBN."
      placeholder="ex. AB20389372485D98E580C50AFCFAD453"
      preference-key="CBL_QUERY_KEY"
      updater="updateCblQueryKey"
      :help-url="queryKeyHelpUrl"
      help-text="Aprenda como obter a chave de consulta."
      :alert-if-empty="true">
    </preference-text>
  </section>
</script>

<script id="settings-cbl-script">
  const SettingsCbl = {
    template: '#settings-cbl-template',
    name: 'SettingsCbl',
    components: {
      PreferenceText
    },
    props: {
      active: Boolean
    },
    data: function () {
      return {
        queryKeyHelpUrl: 'https://gist.github.com/alessandrojean/49a55de5857faab04c7fcf06b8c8b88b#configura%C3%A7%C3%A3o'
      }
    },
    computed: {
      cblQueryKey: {
        get: function () {
          return this.$store.state.settings.properties.user.CBL_QUERY_KEY || ''
        },
        set: function (key) {
          this.$store.commit('settings/properties/updateCblQueryKey', { key })
        }
      },
      ...Vuex.mapGetters('settings/properties', ['cblQueryKeyIsEmpty'])
    }
  }
</script>
