<script type="text/x-template" id="settings-behavior-template">
  <section
    class="section"
    :class="{ 'is-hidden': !active }"
    data-settings-group
  >
    <h1 class="title is-4">Comportamento</h1>
    
    <!-- Currencies -->
    <preference-text
      name="Moedas"
      description="As moedas que são mostradas como opções para o preço, separadas por ponto-e-vírgula."
      placeholder="ex. BRL; USD; EUR; JPY"
      preference-key="CURRENCIES"
      updater="updateCurrencies"
      help-url="https://en.wikipedia.org/wiki/ISO_4217#Active_codes"
      help-text="Saiba mais sobre o ISO 4217.">
    </preference-text>

    <!-- Developer mode -->
    <preference-switch
      name="Modo de desenvolvedor"
      description="Habilita a exibição de ferramentas para o desenvolvimento"
      preference-key="SHOW_DEBUG_TOOLS"
      updater="updateShowDebugTools">
    </preference-switch>
  </section>
</script>

<script id="settings-behavior-script">
  const SettingsBehavior = {
    template: '#settings-behavior-template',
    name: 'SettingsBehavior',
    components: {
      PreferenceSwitch,
      PreferenceText
    },
    props: {
      active: Boolean
    }
  }
</script>
